.modal__checkout {
	position: relative;
  width: 350px;
	height: 381px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  color: #000; 
	position: absolute;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}
  .modal__checkout-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
		color: #000000;
    font-size: 1.125rem;
    line-height: 1.375rem; }
    .modal__checkout-row .right {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 165px; }
  .modal__checkout-address {
    font-size: 0.75rem;
    line-height: 0.875rem;
    color: #696969; }
  .modal__checkout-text {
    width: 100%;
    margin-top: 50px;
    font-size: 1rem;
    line-height: 1.125rem; }
  .modal__checkout-white{
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	  height: 50px;
    margin: 20px;
    border-radius: 5px;
    font-size: 1.0625rem;
    border: 1px solid #000;
    border-radius: 5px;
    background: #fff; 
	}
	.modal__checkout-black{
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
	  height: 50px;
    margin: 20px;
    border-radius: 5px;
    font-size: 1.0625rem;
    color: #fff;
    border-radius: 5px;
    background: #000; 
	}

.modal__price {
  padding-bottom: 20px;
  margin-bottom: 20px; }
  .modal__price-row {
    display: flex;
    justify-content: center;
    width: 100%; 
	}
    .modal__price-row--big {
			margin-top: 30px;
      margin-bottom: 10px;
      font-size: 1.5rem;
      line-height: 130%; 
			font-weight: bold;
			text-align: center;
			color: #000000;
		}
    .modal__price-row--small {
      margin-top: 10px;
      font-size: 1.125rem;
      line-height: 1.375rem; }

.modal__item-remove-btn {
    position: absolute;
		cursor: pointer;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    background: #fff;
	border: none }
  .modal__item-remove-btn .icon {
      width: 16px;
      height: 16px; }

@media (min-width: 1200px) {
  .modal__checkout {
    width: 350px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal__checkout {
    width: 290px; }
    .modal__checkout-row .right {
      width: 130px; }
    .modal__checkout-text {
      margin-top: 40px; } }

@media (max-width: 991.98px) {
  .modal__checkout {
    padding-left: 35px; }
    .modal__checkout-btn {
      margin-top: 30px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .modal__checkout {
    width: 390px; }
    .modal__checkout-row .right {
      width: 212px; }
    .modal__checkout-text {
      width: 325px; } }

@media (max-width: 767.98px) {
  .modal__checkout-row .right {
    width: 182px; } }

@media (min-width: 576px) and (max-width: 767.98px) {
  .modal__checkout {
    width: 390px; } }

.modal h1 {
  letter-spacing: 0; }

.modal__content {
  position: relative;
  display: flex;
  gap: 30px; }
  .modal__content > .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%; }
  .modal__content > .right {
    flex-shrink: 0; }

@media (min-width: 1200px) {
  .modal__content > .right {
    width: 350px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal__content > .right {
    width: 290px; } }

@media (max-width: 991.98px) {
  .modal__content {
    flex-direction: column; }
    .modal__content > .right {
      width: 100%; } }

.modal__home-btn {
  width: 142px;
  height: 41px;
  border: 1px solid #000000;
  border-radius: 8px; }

	.modal__item {
  position: relative;
  display: flex;
  gap: 20px;
	padding-top: 20px;
  padding-bottom: 20px;
   }
	.modal__item:nth-last-child(n+2) {
		border-bottom: 1px solid #E9E9E9;
	}
  .modal__item img {
    width: 38.5px;
		height: 35px;
		border-radius: 5px; 
	}
  .modal__item .btn {
    width: 35px;
    height: 35px;
    background: #F4F4F4;
    outline: 1px solid #B4B4B4; }
    .modal__item .btn:hover, .modal__item .btn:active {
      outline: 1px solid #B4B4B4 !important; }
  .modal__item-info {
    display: flex; }
    .modal__item-info > .d-flex:first-child {
      justify-content: space-between; }
    .modal__item-info > .d-flex:last-child {
      gap: 5px; }
  .modal__item-title {
    font-size: 1.142rem;
    line-height: 120%;
		align-items: center;
		color: #000000;
		padding-right: 97px;
    }
  .modal__item-amount-group {
    gap: 1px;
    padding: 1px; }
    .modal__item-amount-group span {
      font-size: 1.375rem;
      margin-top: 5px; }
    .modal__item-amount-group .modal__item-amount-decrease {
      border-radius: 5px 0px 0px 5px; }
      .modal__item-amount-group .modal__item-amount-decrease .icon {
        width: 7px; }
    .modal__item-amount-group .modal__item-amount-increase {
      border-radius: 0px 5px 5px 0px; }
      .modal__item-amount-group .modal__item-amount-increase .icon {
        width: 10px; }
  .modal__item-price {
    font-size: 1.142rem;
    line-height: 120%;}
  .modal__item-old-price {
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    text-decoration-line: line-through;
    color: #A2A2A2; }
  .modal__item-remove-btn {
    position: absolute;
		cursor: pointer;
    top: 20px;
    right: 20px;
    border-radius: 5px;
    background: #fff; 
		border: none;
	}
    .modal__item-remove-btn .icon {
      width: 16px;
      height: 16px; }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal__item-info {
    gap: 60px; }
    .modal__item-info > .d-flex:first-child {
      width: 300px; } }

@media (max-width: 1199.98px) {
  .modal__item-info {
    gap: 30px; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .modal__item-info > .d-flex:first-child {
    width: 230px; } }

@media (min-width: 768px) and (max-width: 991.98px) {
  .modal__item-info > .d-flex:first-child {
    width: 190px; } }

@media (max-width: 575.98px) {
  .modal__item {
    flex-direction: column;
    gap: 15px; }
    .modal__item-info > .d-flex:first-child {
      gap: 30px;
      width: 225px; } }